{% extends 'base.twig' %}

{% block content %}

	<header>
		<hr class="border">
		<h1>Galactic Empire Style Guide</h1>
		<nav class="nav">
			{{ logo }}

			<a href="#intro">Introduction</a>
			<a href="#voice-and-tone">Voice and Tone</a>
			<a href="#colors">Colors</a>
			<a href="#typography">Typeface</a>
			<a href="#logo">Logo</a>
			<a href="#target-audience">Target Audience</a>
		</nav>
		{# Next steps: Make the logo and navigation rotate. See https://codepen.io/dangvanthanh/pen/Birzn #}
	</header>

	<hr class="border">
	{{ intro_section }}
	<hr class="border">
	{{ voice_and_tone_section }}
	<hr class="border">
	{{ color_section }}
	<hr class="border">
	{{ typography_section }}
	<hr class="border">
	{{ logo_section }}
	<hr class="border">
	{{ bookmarklet_section }}
{% endblock %}
