<section class="section logo-section" id="logo">
	<h2 class="section-title">The Imperial Mark</h2>
	<div class="section-content">
		<p>The Imperial Mark is known throughout the galaxy as a symbol of all the Empire represents. As such, it should be treated with respect.</p>
		<p>Our logo can be used on uniforms (traditionally on the helmet and/or shoulders), vehicles, flags, and other Imperial property.</p>
		<p>When applying the Imperial Mark, spokes that make up the interior of the logo should be pointing directly upward and should not be angled.</p>
		<p>The Imperial Mark must be in one of our official brand colors. In no way will a multi-colored version of the mark be tolerated.</p>

		<h3 class="section-subhead">Acceptable Use</h3>

		<img src="{{ red_logo_src }}">
		<img src="{{ white_logo_src }}">
		<img src="{{ glowing_logo_src }}">

		<h3 class="section-subhead">Unacceptable Use</h3>

		<div class="unacceptable">
			<img src="{{ unacceptable_1 }}">
			{{ x }}
		</div>

		<div class="unacceptable">
			<img src="{{ unacceptable_2 }}">
		{{ x }}
		</div>

		<div class="unacceptable">
			<img src="{{ unacceptable_3 }}">
		{{ x }}
		</div>
	</div>
</section>
